server:
  port: 8080

spring:
  application:
    name: url-shortener

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
